@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2 {
  font-family: Poppins, Arial, Helvetica, sans-serif
}

img {
  display: block;
  width: 35%;
  min-width: 300px;
  margin: auto;
  border: 5px solid #595;
  box-shadow: 3px 5px 5px black;
}

button {
  background-color: #595;
  color: #151;
  border-color:#151;
  box-shadow: 3px 5px 5px black;
}
button > a {
  text-decoration: none;
  color: #151;
}

a {
  color:#757;
  font-size: 1.5em;
}

ul {
  list-style-position: inside;
}

i {
  color:#448;
}

.container {
  background-color: #DFD;
  color: #CEC;
  padding: 20px;
  margin: auto;
}

.card {
  padding: 20px;
  margin: 10px;
  background-color: #121;
  border: 3px solid lightgreen;
  border-radius: 20px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  img {
    min-width: 200px;
  }
}
